.article{
  //max-width: 800px;
  //margin: auto;
  &__header {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $border-grey;
    &__title {
      @include uppercase;
      padding: 0;
      margin: 0 0 0.1rem 0;
      font-size: 2.2rem;
      text-align: left;
    }
    &__teaser {
      font-size: 1rem;
      color: $dark-grey;
      font-weight: 400;
    }
    &__subtitle {
      margin-top: -0.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      @include uppercase;
      color: $dark-grey;
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0.4rem 0;
      padding: 0 0 0.4rem 0;
      .author-list {
        padding-right: 0.6rem;
        margin-right: 0.5rem;
        border-right: 2px solid $light-grey;
      }
      &__publication-date {
        padding: 0 0.6rem 0 0;
        margin: 0 0.5rem 0 0;
        border-right: 2px solid $light-grey;
      }
      .sharing-button {
        font-size: 16px;
        &--facebook,
        &--twitter,
        &--linkedin,
        &--email {
          stroke: $dark-grey;
        }
      }
    }
  }

  &__body {
    max-width: 700px;
    display: block;
    font-family: 'Lora', serif;
    font-size: $article;
    line-height: 1.8rem;
    display: block;
    margin: 0 auto;
    word-wrap: break-word;
    img, iframe{
      position: relative;
      object-fit: cover;
      width: 100vw;
      left: calc(-50vw + 50%);
      height: auto;
      padding-bottom: auto;
    }

    &:after {
      background: url('../../static/header-logo.png');
      display: block;
      width: 50px;
      height: 50px;
      margin: 0.75rem auto;
      content: "";
      background-size: 100%;
    }
  }

  &__footer {

  }

  @media (max-width: $small) {
    &__header {
      padding-top: 0.7rem;
    }
    &__body {
      font-size: 1.05rem;
      line-height: 1.4rem;
    }
  }
}
