.article-preview {
  min-width: 220px;
  max-width: $column-3-1;
  flex-shrink: 1;
  padding: 0 0.75rem 1.25rem 0.75rem;

  @media (max-width: $medium) {
    max-width: $column-2;
  }

  @media (max-width: $small) {
    max-width: $column-1;
  }

  &__featured-image {
    object-fit: cover;
    width: 100%;
    height: 170px;
    padding-bottom: 0.5rem;
  }

  &__content {
    &__category-header {
      display: none;
      margin: 0 0 0.3rem 0;
      @include uppercase;
      font-size: $staff-large;
      font-weight: 700;
      color: $dark-grey;
      &:hover,
      &:active {
        color: #a6061f;
      }
    }
    &__title {
      @include uppercase();
      font-size: $title-large;
      font-weight: 500;
      line-height: 1.5rem;
      margin: 0 0 0.3rem 0;
    }

    &__authors {
      font-size: $staff-large;
      font-weight: 400;
      margin: 0 0 0.3rem 0;
      color: $dark-grey;
    }

    &__teaser {
      font-size: $teaser-large;
      font-weight: 300;
      margin: 0 0 0.8rem 0;
      color: $dark-grey;
    }
  }
}

@media (max-width: $medium) {
  &__content {
    &__category-header {
      margin: 0;
    }
  }
}
@media (max-width: $small) {
  .article-preview {
    max-width: $column-1;
    padding: 0 0.3rem 0.6rem 0.3rem;
    border-bottom: 1px solid $lighter-grey;
    &:first-child {
      .article-preview__content__title {
        padding-top: 0.2rem;
      }
    }
    &:last-child {
      border-bottom: none;
    }

    &__content {
      &__title {
        font-size: $title-small;
        //line-height: 1.25rem;
        margin: 0;
      }

      &__authors {
        font-size: $staff-small;
        margin: 0 0 0.1rem 0;
        @include uppercase();
        padding-top: 0.2rem;
      }

      &__teaser {
        font-size: $teaser-small;
        padding-top: 0.1rem;
        margin-bottom: 0;
        &:after {
          border-bottom: 1px solid $border-grey;
        }
      }
      .sharing-buttons {
        display: none;
      }
    }
  }
}
