.article{
  &__header {
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $border-grey;
    &__title {
      @include uppercase;
      padding: 0;
      margin: 0 0 0.1rem 0;
      font-size: 2.2rem;
      text-align: left;
    }
    &__teaser {
      font-size: 1rem;
      color: $dark-grey;
      font-weight: 400;
    }
    &__subtitle {
      margin-top: -0.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      @include uppercase;
      color: $dark-grey;
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0.4rem 0;
      padding: 0 0 0.4rem 0;
      .author-list {
        padding-right: 0.6rem;
        margin-right: 0.5rem;
        border-right: 2px solid $light-grey;
      }
      &__publication-date {
        padding: 0 0.6rem 0 0;
        margin: 0 0.5rem 0 0;
        border-right: 2px solid $light-grey;
      }
      .sharing-button {
        font-size: 16px;
        &--facebook,
        &--twitter,
        &--linkedin,
        &--email {
          stroke: $dark-grey;
        }
      }
    }
  }

  &__body {
    max-width: 700px;
    display: block;
    margin: 0 auto;
    @include body-text;
    a {
      text-decoration: underline;
      color: $link-blue;
    }
    span.section-break {
      border-bottom: 1px solid $border-grey;
      width: 100%;
      display: block;
      margin: 2rem 0;
    }
    img, iframe, video{
      position: relative;
      object-fit: cover;
      margin-right: -0.5rem; // Override #main right margin
      width: 100vw;
      left: calc(-50vw + 50%);
      height: auto;
      padding-bottom: auto;
    }
    iframe {
      min-height: 500px;
    }
    &__end-mark {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      img {
        display: block;
        width: 50px;
        height: 50px;
      }
    }
  }

  &__footer {
    display: flex;
    //width: $medium;
    flex-grow: 1;
    align-items: stretch;
    justify-content:center;
    @media (max-width: $medium) {
      &__trending {
        display: none;
      }
    }
    &__related-articles {
      &__header {
        @include section-header;
      }
      @include vertical-article-list;
      @media (min-width: $medium) {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 1px solid $border-grey;
        .article-preview {
          width: 100%;
          &__featured-image {
            width: 240px;
            height: 150px;
          }
          &__content {
            min-width: 50%;
            .sharing-buttons {
              display: none;
            }
          }
        }
      }
    }

    &__trending {
      max-width: 30%;
      .trending {
        max-width: 100% !important;
      }
    }
  }

  @media (max-width: $small) {
    &__header {
      padding-top: 0.5rem;
      &__title {
        font-size: 1.5rem;
        line-height: 1.7rem;
        padding-bottom: 0.2rem;
      }
      &__teaser {
        font-size: 0.9rem;
      }
      &__subtitle {
        font-size: 0.8rem;
        &__publication-date {
          border-right: none;
        }
        .sharing-buttons {
          display: none;
        }
      }
    }
    &__body {
      font-size: 1.05rem;
      line-height: 1.4rem;
    }
  }
}
