.article-preview {

  //Card

  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12);
  transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.16);
  }
  margin: 0.5rem;


  min-width: 220px;
  max-width: $column-3-1;
  flex-shrink: 1;
  padding: 0;


  &__featured-image {
    object-fit: cover;
    width: 100%;
    height: 170px;
    margin-bottom: -4px;
  }

  &__content {
    padding: 0.8rem 0.6rem;
    &__category-header {
      //display: none;
      margin: 0 0 0.3rem 0;
      @include uppercase;
      font-size: $authors-large;
      font-weight: 700;
      color: $dark-grey;
      &:hover,
      &:active {
        color: #A6061F;
      }
    }
    &__title {
      @include uppercase();
      font-size: $title-large;
      font-weight: 500;
      line-height: 1.5rem;
      margin: 0 0 0.3rem 0;
      &:hover{
        color: black;
      }
    }

    &__authors {
      font-size: $authors-large;
      font-weight: 400;
      margin: 0 0 0.3rem 0;
      color: $dark-grey;
    }

    &__teaser {
      font-size: $teaser-large;
      font-weight: 300;
      margin: 0 0 0.8rem 0;
      color: $dark-grey;
    }
  }
}

.issue__category .article-list .article-preview{
  padding: 0 !important;
}

@media (max-width: $medium) {
    .article-preview{
    &__content {
      padding: 0.6rem;
      &__category-header {
        margin: 0;
      }
    }
    max-width: $column-2
  }

  .issue__category .article-list .article-preview__content,
  .editors-picks .article-list .article-preview__content{
    padding: 0.6rem !important;
  }

}

@media (max-width: $small) {
  .article-preview {
    max-width: $column-1;
    max-width: $column-1;
    //padding: 0 0.3rem 0.6rem 0.3rem;
    //border-bottom: 1px solid $lighter-grey;
    &:first-child {
      .article-preview__content__title {
        padding-top: 0.2rem;
      }
    }
    &:last-child{
      border-bottom: none;
    }


    &__content {
      &__title {
        font-size: $title-small;
        //line-height: 1.25rem;
        margin: 0;
      }

      &__authors {
        font-size: $authors-small;
        margin: 0 0 0.1rem 0;
        @include uppercase();
        padding-top: 0.2rem ;
      }

      &__teaser {
        font-size: $teaser-small;
        padding-top: 0.1rem;
        margin-bottom: 0;
        &:after {
          border-bottom: 1px solid $border-grey;
        }
      }
      .sharing-buttons {
        display: none;
      }
    }
  }
}
