.editors-picks {
  max-width: 70%;
  margin-right: 0.75rem;
  .section-header {
    // Extend line beyond .editors-picks div
    margin-right: -30px;
  }
  .article-list {
    padding: 0;

    &:last-child {
      // Divider between Editor's Picks and Trending
      border-right: 1px solid $border-grey;
    }
    .article-preview {
      max-width: $column-2;
    }
  }

  @media (max-width: $medium) {
    max-width: 100%;
    margin: 0 0 0.5rem 0;
    .section-header {
      margin-right: 0;
    }
    .article-list {
      &:last-child {
        border-right: none;
      }
      .article-preview {
        max-width: $column-1;
      }
    }
  }
}
