.header {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  @include grey-bottom-border;
  padding: 0 1rem;
  height: 39px;

  form {
    padding: inherit;
    display: flex;
  }

  &__search {
    float: left;
    display: flex;
    align-items: center;

    &:active,
    &:hover {
  		.header__search__main{
        width: 200px;
        height: 35px;
      }
      .header__search__tail {
        visibility: hidden;
      }
    }

    &__main {
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      box-sizing: border-box;
      margin-right: 7px;
      padding: 0 8px;
      border: 2px solid $dark-grey;
      border-radius: 25px;
      transition: all 250ms ease;
      cursor: text;
    }

    &__tail{
      display: inline-block;
      width: 3px;
      height: 10px;
      margin-left: -7px;
      margin-top: 15px;
      margin-right: 20px;
      background: $dark-grey;
      border-radius: 3px;
      transform: rotate(-45deg);
      transition: all 200ms ease;
    }

    &__text{
      display: inline-block;
      float: left;
      margin-left: -10px;
      font-size: $authors-small;
      font-weight: 400;
      color: $dark-grey;
      padding: 0;
      cursor: pointer;
    }
  }

  &__title {
    position: absolute;
    left: calc(50% - 25px);
    right: 50%;
    &__content {
      img {
        position: absolute;
        width: 50px;
        height: 50px;
        margin: -0.1rem 0 0 0;
      }
    }
  }

  &__social {
    float: right;
    display: flex;
    stroke: $light-grey;
    fill: none;
    align-items: center;
    svg {
      width: 1.4em;
      height: 1.4em;
      margin-bottom: -0.1em;
    }
    &--facebook {
      cursor: pointer;
      margin-right: 0.5rem;
      stroke: $light-grey;
      fill: $lighter-grey;
      &:hover, &:active {
        stroke: #3b5998;
        fill: #3b5998;
      }
    }

    &--twitter {
      cursor: pointer;
      margin-right: 0.5rem;
      stroke: $light-grey;
      fill: $lighter-grey;
      &:hover, &:active {
        stroke: #55acee;
        fill: #55acee;
      }
    }

    &--instagram {
      cursor: pointer;
      stroke: none;
      fill: $light-grey;
      &--bg {
        fill: #F3F3F3; // Lighter to counteract human color perception
      }
      &:hover, &:active {
        .header__social--instagram--bg {
          fill: #F3F3F3;
        }
        stroke: #125688;
        fill: #125688;
      }
    }
  }

  @media (min-width: $medium) {
    &__search{
      input[type="text"]:focus {
        width: 200px;
        height: 35px;
      }
      input:focus ~ .header__search__tail {
        visibility: hidden;
      }
    }
  }
  @media (max-width: $medium) {
    // Remove search bar text
    &__search {
      &__text {
        display: none;
      }
      &__tail {
        width: 2px;
      }
    }

  }

  @media only screen and (max-width: $small) {
    background-color: #FFF;
    align-items: center;
    position: fixed;
    z-index: 5;
    overflow-x: hidden;
    height: 45px;
    left: 0;
    top: 0 !important;
    right: 0;
    padding: 0 0.5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    // Add space after fixed header
    & > * {
      padding-bottom: 0rem;
    }
    &__title {
      &__content {
        margin: 0;
        img {
          position: fixed;
          margin: 0;
          padding-top: 0.32rem;
          width: 35px;
          height: 35px;
        }
      }
    }
    &__search {
      margin: 0.25rem;
      padding-top: 0.20rem;
      &:active,
      &:hover {
    		input[type="text"]{
          padding-top: -0.2rem;
          width: 75vw;
          height: 30px;
        }
        .header__search__text {
          display: block;
        }
      }
      &:active ~ .header__search__text--mobile,
      &:hover ~ .header__search__text--mobile {  // Show input box
        display: block;
      }

      &:active ~ .header__title,
      &:hover ~ .header__title { // Make Gazelle logo disappear
        display: none;
      }
    }

    &__social {
      padding: 0.7rem 0.2rem 0 0;
    }
  }
}
