.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  z-index: 9999;
  height: 0;
  &.loader--hide {
    opacity: 0;
    visibility: hidden;
    z-index: -10;
  }
}

.loader--percent {
  height: 2px;
  background: #29D;
  box-shadow: 0 0 10px #29D, 0 0 5px #29D;
  // ease in exponential
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 100vw;
  transform: translateZ(0) translateX(-100vw); // translateZ forces hardware acceleration

  &.loader--percent--loading {
    transform: translateZ(0) translateX(-40vw); // translateZ forces hardware acceleration
  }
  &.loader--percent--finishing {
    // ease out quadratic
    transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateZ(0) translateX(0); // translateZ forces hardware acceleration
  }
}
