.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 0.8rem;
  @include uppercase();
  padding: 0 1rem;

  &__categories {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
    @media (max-width: $small) {
      display: none;
    }
    &__item {
      padding: 0 0.5rem 0 0.8rem;
      display: block;
      text-align: center;

      &--active{
        // Make active navigation category bold for UX
        font-weight: 800;
      }
    }
  }

  &__social {
    display: flex;
    stroke: $light-grey;
    fill: none;
    svg {
      width: 1.5em;
      height: 1.5em;
      margin-bottom: -0.1em;
    }
    &--facebook {
      cursor: pointer;
      margin-right: 0.75rem;
      stroke: $light-grey;
      fill: $lighter-grey;
      &:hover, &:active {
        stroke: #3b5998;
        fill: #3b5998;
      }
    }

    &--twitter {
      cursor: pointer;
      stroke: $light-grey;
      fill: $lighter-grey;
      &:hover, &:active {
        stroke: #55acee;
        fill: #55acee;
      }
    }
  }

  @media (max-width: $medium) {
    /*
     * Recenter categories
     */
    display: block;
    margin: 0 auto;

    /*
     * Remove publication date and weather
     */
    &__publication-date,
    &__social {
      display: none;
    }
  }
}

.header {
  font-family: 'Roboto-Condensed', Arial, sans-serif;
  border-bottom: 1px solid $border-grey;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;

  &__search {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    &:active,
    &:hover {
  		.header__search__main{
        width: 200px;
        height: 35px;
      }

  		.header__search__tail,
      .header__search__text {
        visibility: hidden;
  		}
    }
    &__main {
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      box-sizing: border-box;
      margin-right: 7px;
      padding: 0 8px;
      border: 2px solid $dark-grey;
      border-radius: 25px;
      transition: all 250ms ease;
      cursor: text;

    }

    &__tail{
        display: inline-block;
        width: 2px;
        height: 10px;
        margin-left: -7px;
        margin-top: 18px;
        margin-right: 10px;
        background: $dark-grey;
        border-radius: 3px;
        transform: rotate(-45deg);
        transition: all 200ms ease;
    }

    &__text{
      display: inline-block;
      font-size: $authors-small;
      color: $dark-grey;

    }

    @media (max-width: $small) {
      display: none;
    }
  }

  &__title {
    &--content {
      @include uppercase();
      text-align: center;
      font-size: 2rem;
    }

    //Import Gazelle icon in header
    :before{
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0 10px -20px 0;
      content: "";
      background: url('../../static/header-logo.png') no-repeat 0 0;
      background-size: 100%;
      @media (max-width: $medium) {
        width: 50px;
        height: 50px;
        margin: 0 7px -15px 0;
      }
    }
  }
  &__issueId {
    @include uppercase;
    font-size: $authors-small;
    text-align: right;
    display: flex;
    padding-bottom: 0.5rem ;
    align-items: center;
    color: $dark-grey;
  }

  @media (max-width: $medium) {
    /*
     * Remove search bar and issue number
     */
    &__search,
    &__issueId {
      display: none;
    }

    /*
     * Remove flex and recenter as block
     */
    &__title {
      display: block;
      margin: 0 auto;
      padding: 0 1rem;
    }
  }
}
