.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 0.8rem;
  @include uppercase();
  padding: 0 1rem;

  &__publication-date {
    float: left;
    left: 0;
  }

  &__categories {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
    &__item {
      white-space: nowrap;
      padding: 0 0.7rem 0 0.7rem;
      display: block;
      text-align: center;
    }
  }

  &__issueNumber {
    @include uppercase;
    float: right;
    font-size: $authors-small;
    text-align: right;
    display: flex;
    padding-bottom: 0.5rem ;
    align-items: center;
    color: $dark-grey;
  }

  @media (max-width: $medium) {
    // Recenter categories
    display: block;
    margin: 0 auto;
    padding: 0;

    // Remove publication date and social media buttons (extraneous information)
    &__publication-date,
    &__issueNumber {
      display: none;
    }
  }

  @media (max-width: $small) {
    // Padding equal to height of fixed header bar
    padding-top: 30px;
    // Make categories scrollable on x axis
    &__categories {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0.6rem 0 0.6rem 0;
      overflow-x: scroll;
      display: flex;
      justify-content: flex-start;
      flex: 1;
      &__item {
        left: 0 !important;
        flex: none;
        white-space: nowrap;
        margin: 0 0.6rem;
        //width: 100px;
        // &--active { // Active class
        //   font-weight: 700;
        // }
      }
    }
  }

  // Remove scrollbar on small screens with overflow-x: scroll
  ::-webkit-scrollbar {
      display: none;
      background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
    background-color: transparent;
  }
}
