.navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  padding: 0;

  @media (max-width: 750px) {
    display: none;
  }

  &__item {
    font-weight: 300;
    padding: 0 0.5rem 0 0.8rem;
    display: block;
    text-align: center;
    font-size: 0.8rem;
    @include uppercase();

    &--active{
      // Make active navigation category bold for UX
      font-weight: 500;
    }
  }
}

.header {
  &__title{
    @include uppercase();
    font-family: 'Roboto-Condensed', Arial, sans-serif;
    border-bottom: 1px solid $border-grey;
    display: block;
    text-align: center;
    font-size: 2rem;

    //Import Gazelle icon in header
    &:before{
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0 10px -15px 0;
      content: "";
      background: url('../../static/header-logo.png') no-repeat 0 0;
      background-size: 100%;
    }
  }
}
