.text-page-load {
  max-width: 590px;
  height: 570px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.text-page__title-load:empty {
  height: 30px;
  margin: auto;
  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),
    linear-gradient($transition-grey 30px, transparent 0);
  background-size:
    40% 100%,
    50% 100%;
  background-position:
    -90% 0%,
    50% 0%;
  background-repeat: repeat-y;
  animation: title-transition 1.5s infinite linear;
}
 
@keyframes title-transition {
  to {
    background-position:
      140% 0%,
      50% 0%;
  }
}

.text-page__html-load:empty {
  height: 540px; 
  background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%),
    linear-gradient($transition-grey 15px, transparent 0),
    linear-gradient($transition-grey 15px, transparent 0),
    linear-gradient($transition-grey 15px, transparent 0),
    linear-gradient($transition-grey 15px, transparent 0),
    linear-gradient($transition-grey 15px, transparent 0);
  background-size:
    40% 33.3%,
    60% 33.3%,
    80% 33.3%,
    90% 33.3%,
    70% 33.3%,
    40% 33.3%;
  background-position:
    -90% 0%,
    20px 30px,
    20px 55px,
    20px 80px,
    20px 105px,
    20px 130px;
  background-repeat: repeat-y;
  animation: text-transition 1.5s infinite linear;
}

@keyframes text-transition {
  to {
    background-position:
      140% 0%,
      20px 30px,
      20px 55px,
      20px 80px,
      20px 105px,
      20px 130px;
  }
}
