{
  "root": true,
  "plugins": ["react", "import"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0"
    },
    "import": {
      "extensions": [".js", ".jsx"],
      "ignore": "node_modules",
      "resolver": "webpack",
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx":true
    }
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
  ],
  "env": {
    "es6": true
  }
}
