{
  "root": true,
  "plugins": ["react", "import", "jsx-a11y"],
  "settings": {
    "resolve": {
      "root": "src"
    },
    "react": {
      "pragma": "React",
      "version": "15.0"
    },
    "import/resolver": {
      "webpack": {
        config: "webpack.config.js",
        config-index: 1
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx":true,
      "experimentalObjectRestSpread": true
    },
    ecmaVersion: 6,
    sourceType: module
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-alert": off
  }
}
