# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo
*              @emilgoldsmith @zanemountcastle

# Beware that order is important, the last matching pattern has the most precedence.

# Zane has default ownership of all css and scss files
*.css          @zanemountcastle
*.scss         @zanemountcastle

# Zane has ownership of the styles folder
src/styles/*   @zanemountcastle

# Zane has ownership of the components file (but not the editor subfolder
# which will be overwritten in the following definition)
src/components/* @zanemountcastle

# Emil has ownership over the editor components
src/components/editor/*   @emilgoldsmith

# Emil has ownership over the lib folder
src/lib/*          @emilgoldsmith

# Zane has ownership over the transitions folder
src/transitions/*  @zanemountcastle

# Emil has ownership over client-scripts, server-code folders and index.js
src/client-scripts/*  @emilgoldsmith
src/server-code/*     @emilgoldsmith
src/index.js          @emilgoldsmith

# Emil has ownership over everything CircleCI related
.circleci/*      @emilgoldsmith
