/*
 * Make text uppercase
 */
@mixin uppercase() {
  text-transform: uppercase;
}

/*
 * Crop image to desired width and height without distortion
 */
@mixin image-container ($width, $height) {
  width: $width;
  height: $height;
  overflow: hidden;
}

/*
 * Typograpy
 */
 @mixin roboto-light {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
 }

 @mixin roboto-normal {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
 }

 @mixin roboto-bold {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
 }

 @mixin vertical-article-list {
  display: block;
  margin: 0 auto;
  .article-preview {
    max-width: $column-1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $light-grey;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }

    &__featured-image {
      object-fit: cover;
      width: 500px;
      height: 250px;
    }

    &__content {
      max-width: 20%;
      min-width: 250px;
      padding-left: 1.3rem;
      &__title {
       font-size: 1.2rem;
       line-height: 1.5rem;
       font-weight: 700;
      }

      &__authors {
       font-size: 0.8rem;
       @include uppercase;
       font-weight: 500;
      }

      &__teaser {
       font-size: 0.8rem;
      }
    }
  }
  @media (max-width: $medium) {
    min-width: 0;
    max-width: 100%;
    .article-preview {
     flex-direction: column;
     align-items: stretch;

      &__featured-image {
        width: 100%;
        height: 300px;
      }

      &__content {
        max-width: $column-1;
        padding-left: 0;
        font-size: inherit;
        &__teaser {
          display: block !important;
        }
      }
    }
  }

  @media (max-width: $small) {
    .article-preview {
      &__featured-image {
        height: 175px;
      }
    }
  }
}
