.issue {
  .article-list {
    //flex-flow: row wrap;
    .article-preview {
      flex: 1;
      -webkit-flex: 1 1 15em;
    }

    @media (max-width: $medium) {
      @include vertical-article-list;
      .article-preview {
        margin-bottom: 0.2rem;
      }
      & > :first-child {
        .article-preview {
          &__featured-image {
            display: inherit;
          }
          &__content {
            padding-top: 0.7rem;
            &__teaser {
              display: none;
            }
          }
        }
      }

      .article-preview {
        &__featured-image {
          display: none;
        }
        &__cotent {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.top-articles {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  @media (max-width: $medium) {
    display: none;
  }
}

/*
 * Home page section header styling
 */
.section-header {
  @include section-header;
}
