.issue {
  &__category {
    &__list{
      // display: flex;
    }
  }
}

.top-articles {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  @media (max-width: $medium) {
    display: none;
  }
}

/*
 * Home page section header styling
 */
.section-header {
  padding: 0;
  margin: 0 0 0.3rem 0;
  font-size: $category-large;
  font-weight: 300;
  color: $dark-grey;

  @media (max-width: $small) {
    font-size: $category-small;
  }

  // Section deliniation lines
  overflow: hidden;
  text-align: left;
  &:before,
  &:after {
    background-color: $border-grey;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
  }
  &:before {
    right: 0.2rem;
    margin-left: 0;
    width: 30px;
  }
  &:after {
    left: 0.2rem;
    margin-right: -50%;
    width: 90%;
  }
}
