.issue {

  .editors-picks,
  &__category {
    .article-list {
      //flex-flow: row wrap;
      justify-content: flex-start;
      flex-grow: 1;

      .article-preview {
        max-width: none;
        min-width: 30%;
        flex-grow: 1;
        flex: 1;
        -webkit-flex: 1 1 15em; // Fixes Safari flex-wrap bug
      }
    }
  }

  .trending {
    .article-list {
      justify-content: flex-start;
      flex: 1;
      -webkit-flex: 1 1 15em; // Fixes Safari flex-wrap bug
      .article-preview {
        max-width: 100%;
      }
    }
  }

  // Styling only for categories (exlcludes featured and top articles)
  &__category {
    .article-list {
      justify-content: none;

      .article-preview {
        padding-left: 1%;
        padding-right: 1%;
        max-width: 31.5%;
        margin-bottom: 0.5rem;
      }

      // @media (min-width: $medium) {
      //   & > :nth-child(2) {
      //     &:last-child { // Item is 2nd child AND last child
      //       @include bigger-box;
      //       .article-preview {
      //         display: none;
      //         margin-left: 1rem;
      //         border-left: 1px #000 solid;
      //       }
      //     }
      //   }
      //
      //   & > :nth-child(3n+4) { // Items that are odd
      //     &:last-child { // Item is only remaining in final row
      //       @include bigger-box;
      //     }
      //     &:last-child { // Item is odd, after 3rd item and is last child
      //       .article-preview {
      //         &__featured-image {
      //           width: 500px;
      //         }
      //         &__content {
      //           align-self: center;
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }

  @media (max-width: $medium) {
    .article-list {
      @include vertical-article-list;
      .article-preview {
        padding-bottom: 0.7rem;
        margin-bottom: 0.7rem;
        &__featured-image {
          padding-bottom: 0;
        }
        &__content {
          &__title {
            padding-top: 0;
            margin-top: 0;
          }
          &__category-header {
            margin-bottom: 0.2rem;
          }
        }
      }
      & > :first-child {
        .article-preview {
          &__featured-image {
            display: inherit;
          }
          &__content {
            padding-top: 0.7rem;
            &__teaser {
              display: none;
            }
            &__title {
              padding-top: 0;
            }
          }
        }
      }

      .article-preview {
        &__featured-image {
          display: none;
        }
        &__content {
          padding: 0;
          margin: 0;
        }
      }
    }
    .featured-article {
      .article-preview {
        align-items: flex-start;
      }
      .article-preview__content__title {
        padding-top: 0;
      }
    }
  }
  // @media (max-width: $small) {
  //   .article-preview__featured-image, .featured-article .article-preview__featured-image {
  //     @include full-width;
  //     width: 100vw !important;
  //   }
  // }
}

.top-articles {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  min-width: 0;
  @media (max-width: $medium) {
    .trending {
      display: none;
    }
  }
}

/*
 * Home page section header styling
 */
.section-header {
  @include section-header;
}
