.active-link {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: Roboto, sans-serif;
}

.toggle-button {
  border: 0;
  padding: 0;
  background-color: white;
  float: left;
}

a:visited:not(.active-link) {
  color: #0000ee;
}

.imgPreviewList {
  margin: 15px 15px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  height: 95%;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.previewText {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.mainContainer {
}

.editor-body {
}

.editor-items {
  margin-left: 64px;
  margin-right: 64px;
}

.mainContainer a {
  text-decoration: none;
  color: inherit;
}

.previewURL {
}

.circular-progress {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overwriting something for the article preview */
.article__body img {
  width: 100% !important;
  left: 0 !important;
}

.article__body iframe{
  width: 100% !important;
  left: 0 !important;
}
.article__body video{
  width: 100% !important;
  left: 0 !important;
}
