#main {
  margin: 0 0.5rem 0 0.5rem;
}

.app-container {
  max-width: 1000px;
  // Center all content on page
  margin: 0.5rem auto 0 auto;
  display: block;
  &__header {
    flex: 0 0 100%;
  }

  &__body {
    .top-articles {
      display: flex;
      flex-grow: 1;
      @media (max-width: 750px) {
        display: none;
      }
    }
  }

  &__footer {
    flex: 0 0 100%;
  }
}
