#main {
  margin: 0 0.5rem 0 0.5rem;
}

.app-container {
  max-width: 1000px;
  min-width: 240px;
  // Center all content on page
  margin: 0.5rem auto 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media (max-width: $small) {
    margin: 0.2rem auto 0 auto;
  }

  &__header {
    flex: 0 0 100%;
  }

  &__body {
    flex: 1;
    .top-articles {
      display: flex;
      flex-grow: 1;
      align-items: stretch;
      @media (max-width: $medium) {
        display: none;
      }
    }
  }

  &__footer {
    flex: 0 0 100%;
  }
}
