#main {
  margin: 0 0.5rem 0 0.5rem;
}

body {
  overflow-x: hidden;
  background-color: #FAFAFA;
}

.app-container {
  max-width: 1000px;
  min-width: 240px;
  // Center all content on page
  padding-top: 0.5rem;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 98vh;

  @media (max-width: $small) {
    margin: 0.2rem auto 0 auto;
  }

  &__header {
    margin-top: 0.5rem;
  }

  &__body {
    flex: 1;
  }

  &__footer {
    flex: 0 0 100%;
  }
}

.transition-manager {
  & > * {
    display: none;
    opacity: 0;
    // We only ever show the last child.
    &:last-child {
      display: block;
      opacity: 1;
      transition: opacity 200ms ease-in;
    }
  }

  &.loading > *:last-child {
    opacity: 0.5;
  }

  &.load-ending > *:last-child {
    opacity: 0;
    transition: opacity 100ms ease-in;
  }

  &.fading-start > *:last-child {
    opacity: 0;
  }
}

// animation for page transition
.global-loader-enter {
  opacity: 0.01;
}

.global-loader-enter.global-loader-enter-active {
  opacity: 0.7;
  transition: opacity 1000ms ease-in;
}

.global-loader-leave {
  opacity: 0.7;
}

.global-loader-leave.global-loader-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}
