// Robot Condensed:
@import url(https://fonts.googleapis.com/css?family=Roboto:300, 400, 500, 700);
//@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Lora:700, 400, 400italic);

html {
  font-family: 'Roboto', sans-serif;
}
